***********************************************************************************************
*                                                                                             *
* DRILL TAPE SUMMARY REPORT                                                                   *
*                                                                                             *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\23-319-0 (FOTOCOPPIE LAME LATERALI)\23-319-0.MAX  *
* Thu Jul 06 18:12:36 2023                                                                    *
*                                                                                             *
***********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       4        200      100                                                                                 
T2       394      2        200      100                                                                                 
T3       551      2        200      100                                                                                 
T4       866      4        200      100                                                                                 
